

<div class="question-image"><img src="images/question/{{ image }}" alt="{{ question }}" /></div>
<form action="#" class="response-form">
    <div class="progress-bar">
        <div class="progress"></div>
    </div>
    <div class="question-label">{{ question }}</div>
    <div class="response-wrapper">

        <div class="row">
            {{#each responses }}
                <div class="response-label col-sm-6"><input type="checkbox" value="{{ value }}" name="responses" id="response-{{ value }}" /><label for="response-{{ value }}">{{ text }}</label></div>
            {{/each}}
        </div>
    </div>
    <input type="submit" class="btn btn-transparent pull-right" value="Valider"/>
</form>